.header
    width: 100%
    background-color: $primaryColor
    line-height: 63px
    height: 63px
    display: flex
    padding: em(16)
    align-items: center
    justify-content: space-between
    color: #fff
    box-shadow: 0px 0.1px 10px rgba(0, 0, 0, 0.35)

    +media(">=md")
        justify-content: start


    &__separator
        height: 40px
        margin: 0px 30px
        border-left: 1px solid #FFFFFF

    &__brand
        display: flex
        flex-direction: row
        align-items: center

    &__navbar
        display: flex
        flex: auto
        justify-content: space-between

        &__title
            font-size: 12px
            +media(">=md")
                font-size: 16px
            +media("<md")
                margin-left: 10px
        .language
            cursor: pointer
            display: flex

            & li span.carret:before
                content: "\42"
                font-family: $iconFont
                font-size: 14px
                font-size: 300
                // line-height: 30px
                // vertical-align: 
                background-repeat: no-repeat
                height: 10px
                width: 15px
                display: inline-block
                margin-right: 5px

            & li.has-menu
                position: relative

                &:hover
                    & .language--menu
                        display: block

                    & span.carret:before
                        content: "\44"

            &--menu
                display: none
                top: 100%
                position: absolute
                background-color: #ffffff
                min-width: 70px
                color: $primaryColor
                right: 0

                li
                    a
                        display: block
                        line-height: 35px
                        padding: 0px 10px
                        color: $primaryColor

                    &:first-child
                        border-bottom: 1px solid $gray

                    &.active, &:hover
                        background-color: $secondaryColor

                        a
                            color:#ffffff
