input[type="text"], input[type="number"], input[type="date"],select
    font-size: em(16)
    border: 0
    font-family: inherit
    -webkit-appearance: none
    border-radius: 0
    padding: 0
    cursor: text
    background-color: #ffffff
    line-height: 52px
    padding-left: 16px
    border-radius: 4px

    &:-internal-autofill-selected
        background-color: #ffffff !important

    &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus, &:-webkit-autofill:active
        -webkit-box-shadow: 0 0 0 30px white inset !important

    &:focus::-webkit-input-placeholder
        opacity: 1

        // font-size: em(12)

    &:focus
        outline: none
        border-bottom: 0


\::-webkit-input-placeholder
    // opacity: 0
    // transition: inherit
    font-size: em(16)

.field
    display: flex
    flex-flow: column-reverse
    margin-bottom: 1em
    border: 2px solid $secondaryColor
    border-radius: 4px
    position: relative
    height: 56px
    line-height: 56px
    &.select
        &::after
            content: "\42"
            font-family: $iconFont
            color: $secondaryColor
            display: inline-block
            position: absolute
            right: 10px
            user-select: none
            pointer-events: none
        input[type="text"], input[type="number"], input[type="date"]
            padding-right: 30px
    &__label
        // text-transform: uppercase
        letter-spacing: 0.05em
        background: #ffffff
        position: absolute
        top: 0
        left: 5px
        transform: translateY(-50%)
        font-size: em(12)
        padding: 5px 7px
        color: $secondaryColor
        letter-spacing: 0.4px
        line-height: 16px
        // transition: all 0.2s
        pointer-events: none
        white-space: nowrap
        text-overflow: ellipsis
        overflow: hidden
        +media('<=xs')
            max-width: 94%

input[type="file"]
  color: transparent
  position: absolute
  z-index: -1
  left: -999// just in case

  &::-webkit-file-upload-button
    visibility: hidden
.upload__image
    display: inline-block
    box-sizing: border-box
    height: 75px
    width: 75px
    background: linear-gradient(to right, $secondaryColor 33%, #fff 0%) top/20px 1px repeat-x, //top
    linear-gradient($secondaryColor 33%, #fff 0%) right/1px 20px repeat-y, //right
    linear-gradient(to right, $secondaryColor 33%, #fff 0%) bottom/20px 1px repeat-x, //* bottom */
    linear-gradient($secondaryColor 33%, #fff 0%) left/1px 20px repeat-y //* left */
    +media('>=md')
        height: 130px
        width: 133px
    border-radius: 5px
    cursor: pointer
    display: flex
    justify-content: center
    align-items: center
    margin: 0 auto
    color: $secondaryColor
    span
        color: $secondaryColor
    &:hover
        border-color: $secondaryColor

//   &:active
//     outline: 0
