<div class="container">
  <!-- class "check-form" required for front-end validations-->
  <form action="" class="check-form" enctype="multipart/form-data" method="post">
    <h2 class="title uppercase mb-10"><span class="icon icon-user mr-5"></span> Ingresa tus datos</h2>
    <p class="paragraph--important mb-20">Para localizar tu reserva necesitamos que nos facilites unos datos:</p>
    <div class="row bottom-xs center-md">
      <div class="col-xs-12 col-md-4">
        <div class="field animated">
          <input type="text" name="confirmation_number" id="confirmation_number" placeholder="000000" required />
          <label class="field__label" for="confirmation_number">Número confirmación de Agencia</label>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="field animated">
          <input type="text" name="last_name" id="last_name" placeholder="Doe" required />
          <label class="field__label" for="email">Apellidos</label>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="separator--text mb-15"><span>Otra opción de datos</span></div>
        <div class="row bottom-xs">
          <div class="col-xs-12 col-md-5">
            <div class="field animated">
              <input type="date" name="arrival-date" id="arrival-date" placeholder="yyyy/mm/dd" required />
              <label class="field__label" for="arrival-date">Fecha de llegada</label>
            </div>
          </div>
          <div class="col-xs-12 col-md-7">
            <button data-target="modal-upload-personal" data-micromodal-trigger="modal-upload-personal" type="button" class="btn btn--secondary btn--block mb-15-md">
              <span class="icon icon-file-add icon--md"></span> Escanear Pasaporte
            </button>
          </div>
        </div>
        <hr class="separator mb-35 mt-35 hidden-md" />
      </div>
      <div class="col-xs-12">
        <!-- Agregamos nuevas filas -->
        <div class="added__fields">
          <div class="field__added--container">
            <h2 class="title uppercase mt-10 mt-30-md mb-20 text-left hidden"><span class="icon icon-user mr-5"></span> INGRESA LOS DATOS DE TUS ACOMPAÑANTES</h2>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="alert alert--danger mt-10 mb-10 hidden alert--image">
          <span class="icon icon-warning icon--md"></span>
          <p class="paragraph alert">Para seguir con el proceso tienes que subir un documento de tu pasaporte</p>
        </div>
      </div>

      <div class="col-xs-12 col-md-5 mt-50-md">
        <div class="row center-md">
          <div class="col-xs-12 col-md-6">
            <button id="add-field" type="button" class="btn btn--secondary btn--block"><span class="icon icon-plus-circle icon--md"></span> Agregar otro huesped</button>
            <hr class="separator mb-35 mt-35 hidden-md" />
          </div>
          <div class="col-xs-12 first-md">
            <div class="text-center mb-10">
              <label class="checkbox"
                >Acepto las politicas del Hotel
                <input type="checkbox" name="policies-check" id="policies-check" />
                <!-- <input type="checkbox" name="policies-check" id="policies-check" required /> -->
                <div class="checkbox__marker"></div>
              </label>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <button type="submit" class="btn btn--primary btn--block">Finalizar Precheckin</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal micromodal-slide" id="modal-upload-personal" aria-hidden="true">
      <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
          <button type="button" class="modal__close" aria-label="Close modal" data-micromodal-close></button>
          <header class="modal__header">
            <h2 class="title text-center"><span class="icon icon-file-add icon--xs"></span> Pasaporte</h2>
            <p class="paragraph--important text-center mb-15 mt-15">Agrega tu pasaporte escaneado</p>
          </header>
          <main class="modal__content text-cernter">
            <div class="row center-xs">
              <div class="col-xs-12 col-md-8">
                <label for="uploadImage" class="upload__image">
                  <p class="text-center">
                    <span class="icon icon-cloud-upload icon--lg"></span> <br />
                    Subir documento
                  </p>
                  <input accept="image/*" type="file" id="uploadImage" class="upload__btn" data-btn="modal-upload-personal"/>
                </label>
                <button type="button" class="btn btn--secondary text-center btn--block mt-15">Subir</button>
              </div>
            </div>
          </main>
        </div>
      </div>
    </div>
  </form>
</div>
