<header class="header">
  <div class="header__brand">
    <div class="header__icon"><span class="icon icon-icono-oasis icon--xl"></span></div>
    <div class="header__separator visible-md"></div>
  </div>
  <div class="header__navbar">
    <div class="header__navbar__title">
      <span class="icon icon-exit icon--lg"></span>
      <span class="uppercase ml-5 bold">Inicio de Pre-Checkin</span>
    </div>
    <ul class="language ml-10">
      <li><span>ES</span></li>
      <li class="has-menu">
        <ul class="language--menu">
          <li class="active"><a href="">Español</a></li>
          <li><a href="#">Inglés</a></li>
        </ul>
      </li>
    </ul>
  </div>
</header>
