<header class="header">
    <div class="header__icon"><span class="icon icon-icono-oasis icon--xl"></span></div>
    <div class="header__separator visible-md"></div>
    <div class="header__brand">
        <span class="icon icon-exit icon--lg"></span>
        <span class="uppercase ml-5">Pre-Checkin</span>
    </div>
</header>