<!-- [1] -->
<div id="help" aria-hidden="true">

    <!-- [2] -->
    <div tabindex="-1" data-micromodal-close>
  
      <!-- [3] -->
      <div role="dialog" aria-modal="true" aria-labelledby="help-title" >
  
  
        <header>
          <h2 id="help-title">
            Modal Title
          </h2>
  
          <!-- [4] -->
          <button aria-label="Close modal" data-micromodal-close></button>
        </header>
  
        <div id="help-content">
          Modal Content
        </div>
  
      </div>
    </div>
  </div>