<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet" />
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-P97847Q");
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P97847Q" height="0" width="0" style="display: none; visibility: hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- <%= include('ejs-compiled-loader!./partials/header.ejs') %> -->
    <!-- <%- include ('./partials/header.ejs') -%> -->
    <main class="main-container">
      <div class="content--main">
        <div class="content--main__left">
          <div class="container--fluid">
            <div class="row center-md">
              <div class="col-xs-12 col-md-9">
                <h2 class="title text-center mb-15 mb-15-md mt-35 mt-40-md">Bienvenido a Oasis Hotels & Resorts</h2>
                <p class="paragraph--important text-center mb-50-md">
                  En esta página podrás realizar el PRECHECKIN online para evitar filas a tu llegada al hotel. <br />
                  <br />
                  Únicamente necesitas tu número de reserva y tu pasaporte para hacer tu precheckin.
                </p>
              </div>
            </div>
          </div>

          <img class="mb-15" src="../src/images/bienvenida.png" alt="" />
        </div>
        <div class="content--main__right">
          <div class="container--fluid">
            <div class="row center-md">
              <div class="col-xs-12 col-md-8">
                <div class="text-center mt-10 mt-60-md">
                  <img class="w-100" src="src/images/logo.png" alt="" />
                </div>
                <h2 class="title text-center mb-15 mb-20-md mt-20 mt-40-md">Seleccione su método de registro</h2>
                <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <a href="" class="btn btn--secondary btn--block mb-10">COMPROBANTE DE AGENCIA</a>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <a href="" class="btn btn--secondary btn--block">ESCANEO DE PASAPORTE</a>
                  </div>
                </div>
                <p class="paragraph--important text-center mt-20">Si no tiene su número de reservación para registrarse, con esta opción podrá obtenerlo</p>
              </div>
              <div class="col-xs-12">
                <div class="row center-xs">
                  <div class="col-xs-12 col-md-5">
                    <button class="btn btn--secondary btn--block mt-15 mb-30 mt-40-md">OBTENER NÚMERO DE RESERVACIÓN</button>
                  </div>
                  <!-- <div class="col-xs-12 col-md-10">
                    <img src="../src/images/bienvenida.png" alt="" />
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="fluid-container"><%= require('html-loader!./partials/footer.ejs') %></div> -->
    </main>
  </body>
</html>
